<div class="container-flex">
    <div class="row mt-4">
        <div class="col-12 text-center">
            Team Members: <br/>
            <i>Michael Coffey</i> <br/>
            Stephanie Alvord <br/>
            Leah Elias <br/>
            Josh Pane <br/>
            Darius Sherman <br/>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 text-right">
            Project <strong>O.S.M.I.R</strong><br/>
            Organised Storage of Medical Information and Records
        </div>
        <div class="col-6 text-left">
            O.S.M.I.R is software used to track the medical and treatment records of athletes. <br/>
            This software is designed to be compliant with all legislation surrounding medical <br/>
            records keeping.
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 text-center">
            Iteration Data
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a target="_blank" href="./assets/Iteration1.zip" download>Iteration 1</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a target="_blank" href="./assets/Iteration2.zip" download>Iteration 2</a>
        </div>
    </div>
</div>